/* Start GameList */
.error-alert {
  @apply p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400;
}
.alert-title {
  @apply text-lg text-red-600 font-bold;
}
.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

/* End GameList */
