body {
  font-family: "Cairo", sans-serif;
}

/* Start Navbar */
.navbar-app {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #9ca3af;
  margin-bottom: 0.75rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}
.navbar-app .logo {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  overflow: hidden;
  transition: 0.3s;
  border-radius: 10px;
}
.navbar-app .logo:hover {
  box-shadow: 0px 0px 20px rgb(27, 41, 46), 0px 0px 40px rgb(51, 48, 48),
    0px 0px 80px rgb(35, 41, 48);
}
.navbar-app .gamp-app-header {
  grid-column: span 1;
  cursor: pointer;
}
.navbar-app .gamp-app-header button {
  cursor: pointer;
}
.navbar-app .cover-search {
  grid-column: span 10;
}
.navbar-app .theme-mode {
  grid-column: span 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar-app .theme-mode label {
  display: inline-flex;
  align-items: center;
  margin-inline-end: 1.25rem;
  cursor: pointer;
}
.navbar-app .theme-mode input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
/* From Uiverse.io by RiccardoRapelli */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch:hover {
  box-shadow: 0px 0px 20px rgb(27, 41, 46), 0px 0px 40px rgb(51, 48, 48),
    0px 0px 80px rgb(35, 41, 48);
}
.switch #input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 0;
  overflow: hidden;
}

.sun-moon {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: yellow;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#input:checked + .slider {
  background-color: black;
}

#input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

#input:checked + .slider .sun-moon {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: white;
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

.moon-dot {
  opacity: 0;
  transition: 0.4s;
  fill: gray;
}

#input:checked + .slider .sun-moon .moon-dot {
  opacity: 1;
}

.slider.round {
  border-radius: 34px;
}

.slider.round .sun-moon {
  border-radius: 50%;
}

#moon-dot-1 {
  left: 10px;
  top: 3px;
  position: absolute;
  width: 6px;
  height: 6px;
  z-index: 4;
}

#moon-dot-2 {
  left: 2px;
  top: 10px;
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 4;
}

#moon-dot-3 {
  left: 16px;
  top: 18px;
  position: absolute;
  width: 3px;
  height: 3px;
  z-index: 4;
}

#light-ray-1 {
  left: -8px;
  top: -8px;
  position: absolute;
  width: 43px;
  height: 43px;
  z-index: -1;
  fill: white;
  opacity: 10%;
}

#light-ray-2 {
  left: -50%;
  top: -50%;
  position: absolute;
  width: 55px;
  height: 55px;
  z-index: -1;
  fill: white;
  opacity: 10%;
}

#light-ray-3 {
  left: -18px;
  top: -18px;
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: -1;
  fill: white;
  opacity: 10%;
}

.cloud-light {
  position: absolute;
  fill: #eee;
  animation-name: cloud-move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.cloud-dark {
  position: absolute;
  fill: #ccc;
  animation-name: cloud-move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

#cloud-1 {
  left: 30px;
  top: 15px;
  width: 40px;
}

#cloud-2 {
  left: 44px;
  top: 10px;
  width: 20px;
}

#cloud-3 {
  left: 18px;
  top: 24px;
  width: 30px;
}

#cloud-4 {
  left: 36px;
  top: 18px;
  width: 40px;
}

#cloud-5 {
  left: 48px;
  top: 14px;
  width: 20px;
}

#cloud-6 {
  left: 22px;
  top: 26px;
  width: 30px;
}

@keyframes cloud-move {
  0% {
    transform: translateX(0px);
  }

  40% {
    transform: translateX(4px);
  }

  80% {
    transform: translateX(-4px);
  }

  100% {
    transform: translateX(0px);
  }
}

.stars {
  transform: translateY(-32px);
  opacity: 0;
  transition: 0.4s;
}

.star {
  fill: white;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  animation-name: star-twinkle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#input:checked + .slider .stars {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

#star-1 {
  width: 20px;
  top: 2px;
  left: 3px;
  animation-delay: 0.3s;
}

#star-2 {
  width: 6px;
  top: 16px;
  left: 3px;
}

#star-3 {
  width: 12px;
  top: 20px;
  left: 10px;
  animation-delay: 0.6s;
}

#star-4 {
  width: 18px;
  top: 0px;
  left: 18px;
  animation-delay: 1.3s;
}

@keyframes star-twinkle {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.2);
  }

  80% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}
/* start searsh */
/* التنسيق العادي */
.input-style {
  display: block;
  width: 100%;
  padding: 0.625rem 0.625rem 0.625rem 2.5rem; /* p-2.5 + ps-10 */
  font-size: 0.875rem; /* text-sm */
  color: #f8faff; /* text-gray-900 */
  border: 1.5px solid #d1d5db; /* border-gray-300 */
  border-radius: 2rem; /* rounded-lg */
  background-color: #282d32; /* bg-gray-50 */
  transition: 0.5s;
}
.input-style:hover {
  background-color: #f8faff;
}
/* التركيز على العنصر */
.input-style:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(36, 174, 155, 0.5); /* focus:ring-teal-500 */
  border-color: #34d399; /* focus:border-teal-500 */
}

/* عند التبديل إلى الوضع المظلم */
body.dark .input-style {
  background-color: #374151; /* dark:bg-gray-700 */
  border-color: #4b5563; /* dark:border-gray-600 */
  color: white; /* dark:text-white */
}

/* النص داخل الحقول الفارغة عند الوضع المظلم */
body.dark .input-style::placeholder {
  color: #9ca3af; /* dark:placeholder-gray-400 */
}

/* التركيز في الوضع المظلم */
body.dark .input-style:focus {
  box-shadow: 0 0 0 4px rgba(36, 174, 155, 0.5); /* dark:focus:ring-teal-500 */
  border-color: #34d399; /* dark:focus:border-teal-500 */
}

/* التنسيق العادي */
.input-icon {
  position: absolute;
  top: 0; /* equivalent to inset-y-0 */
  bottom: 0; /* equivalent to inset-y-0 */
  left: 0; /* equivalent to start-0 */
  display: flex;
  align-items: center;
  padding-left: 0.75rem; /* equivalent to ps-3 */
  pointer-events: none; /* equivalent to pointer-events-none */
}
.relative svg {
  width: 1rem; /* equivalent to w-4 */
  height: 1rem; /* equivalent to h-4 */
  color: #6b7280;
  cursor: pointer; /* equivalent to text-gray-500 */
}
.text-style {
  margin-bottom: 0.5rem; /* equivalent to mb-2 */
  font-size: 0.875rem; /* equivalent to text-sm */
  font-weight: 500; /* equivalent to font-medium */
  color: #1f2937; /* equivalent to text-gray-900 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

/* End searsh */

/* End Navbar */
 
