/* Start Navbar */
.navbar-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.search-section {
  @apply col-span-9 md:col-span-10 flex justify-center md:justify-start;
}
.theme-toggle-section {
  @apply col-span-1 flex justify-end;
}
.search-section {
  @apply w-full;
}
/* End Navbar */
